{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- ========================= SECTION CONTENT ========================= -->
  <section class="section-content padding-y bg py-5">
    <div class="dashboard container py-5">
      <div class="row">
        <aside class="col-md-3">
          <!-- SIDEBAR -->
          <ul class="list-group">
            <a class="list-group-item active" href="#">My order history</a>
            <a class="list-group-item" href="#">Transactions</a>
            <a class="list-group-item" href="#">Return and refunds</a>
            <a class="list-group-item" href="#">Settings</a>
            <a class="list-group-item" href="#">My Selling Items</a>
            <a class="list-group-item" href="#">Received orders</a>
          </ul>
          <br />
          <a class="btn btn-light btn-block" href="#"><i class="fa fa-power-off"></i> <span class="text">Log out</span></a>
          <!-- SIDEBAR .//END -->
        </aside>
        <main class="col-md-9">
            <div class="table-responsive">
              <table class="table table-hover">
                <tr>
                  <td width="65">
                    <img src="../images/items/1.jpg" class="img-xs border" />
                  </td>
                  <td>
                    <p class="title mb-0">Product name goes here</p>
                    <var class="price text-muted">USD 145</var>
                  </td>
                  <td>
                    Seller <br /> Nike clothing
                  </td>
                  <td width="250">
                    <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#" class="btn btn-light">Details</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="../images/items/2.jpg" class="img-xs border" />
                  </td>
                  <td>
                    <p class="title mb-0">Another name goes here</p>
                    <var class="price text-muted">USD 15</var>
                  </td>
                  <td>
                    Seller <br /> ABC shop
                  </td>
                  <td>
                    <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#" class="btn btn-light">Details</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="../images/items/3.jpg" class="img-xs border" />
                  </td>
                  <td>
                    <p class="title mb-0">The name of the product goes here</p>
                    <var class="price text-muted">USD 145</var>
                  </td>
                  <td>
                    Seller <br /> Wallmart
                  </td>
                  <td>
                    <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#" class="btn btn-light">Details</a>
                  </td>
                </tr>
              </table>
            </div> <!-- table-responsive .end// -->
          </article> <!-- order-group.// -->
        </main>
      </div> <!-- row.// -->
    </div>
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
